# 모든 텍스트 파일의 줄바꿈을 자동으로 처리함
* text=auto

# 확장자가 .java, .xml, .json인 파일은 명시적으로 텍스트로 처리하고 LF로 유지
*.java text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.properties text eol=lf

# 쉘 스크립트는 리눅스에서 실행되어야 하므로 반드시 LF로 강제
*.sh text eol=lf
mvnw text eol=lf
*.cmd text eol=crlf

# 이미지, jar 등 바이너리 파일은 변환하지 않음
*.jar binary
*.jpg binary
*.png binary
